<h1>Division</h1>

<form action="/wizard_divide">
  <label for="bravo">Divide this:</label>
  <input id="bravo" name="first_number" text="text">

  <label for="alpha">by this:</label>
  <input id="alpha" name="second_number" text="text">

  <button>
    Divide!
  </button>
</form>
